# Node dependencies
node_modules/

# Next.js build output
.next/
out/

# Local environment variables
.env
.env.local
.env.*.local

# Misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Editor directories and files
.vscode/
.idea/

postgres_data/


